<body>
  <app-medecin-paging></app-medecin-paging>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Rendez-vous non validés">
      <div class="mat-elevation-z8" >

        <div style="display: flex;  flex-wrap: wrap;">
          <div class="card" *ngFor="let rdv of rdvs">
            <h3 class="card-header"><strong>Rendez-vous {{rdv.id}}</strong> </h3>
            <div class="card-body">
              <h3 class="card-title"><strong>Patient: </strong> {{rdv.patient.nom}} {{rdv.patient.prenom}}</h3>
              <h3 class="card-title"><strong>Medecin: </strong> {{rdv.medecin.nom}} {{rdv.medecin.prenom}}</h3>
              <h4 class="card-title"><strong>Maladie: </strong> {{rdv.maladie}} </h4>
              <h4 class="card-title"><strong>Date: </strong> {{rdv.date}} {{rdv.time}}</h4>
              <p class="card-text"><strong>Détails: </strong> {{rdv.detail}}</p>
              
              <a mat-button  aria-label="Verifier" (click)="verifier(rdv)">
                Verifier
              </a>
              <a mat-icon-button color="warn" aria-label="anuuler" (click)="supprimer(rdv)" >
                <mat-icon>remove_circle</mat-icon> rejeter
              </a>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Rendez-vous validés">
      <div class="mat-elevation-z8" >

        <div style="display: flex;  flex-wrap: wrap;">
          <div class="card" *ngFor="let rdv of rdvs_verif">
            <h3 class="card-header"><strong>Rendez-vous {{rdv.id}}</strong> </h3>
            <div class="card-body">
              <h3 class="card-title"><strong>Patient: </strong> {{rdv.patient.nom}} {{rdv.patient.prenom}}</h3>
              <h3 class="card-title"><strong>Medecin: </strong> {{rdv.medecin.nom}} {{rdv.medecin.prenom}}</h3>
              <h4 class="card-title"><strong>Maladie: </strong> {{rdv.maladie}} </h4>
              <h4 class="card-title"><strong>Date: </strong> {{rdv.date}} {{rdv.time}}</h4>
              <p class="card-text"><strong>Détails: </strong> {{rdv.detail}}</p>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
    
</body>