<div *ngIf="token==null && router.url !=='/home' && router.url !=='/login' ">
  <mat-toolbar class="mat-elevation-z6">
    <span color="warn"></span>
        
        <div class="example-button-container">
            <a mat-mini-fab color="warn" [routerLink]="['']" aria-label="home icon " >
              <mat-icon>home</mat-icon> 
            </a>
          </div>
          <a mat-button color="warn" disabled >
            0 MINUTES 
          </a>
        <span class="example-spacer"></span>
        <a mat-button color="warn" [routerLink]="['list-medecin']">List médecins</a>
        <a mat-button color="warn" [routerLink]="['list-patient']">List patients</a>
        <a mat-button color="warn" [routerLink]="['list-dossiers']">Dossiers Médicaux</a>
        <a mat-button color="warn" [routerLink]="['list-rendez-vous']">Rendez vous</a> 
        
    </mat-toolbar>
</div>