body{
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/assets/2.jpg');
    opacity: 0.8;
    height: 100%;
    background-size: cover;
    background-position: center center;
}
.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .wrapper {
    margin: 2vw 0vw;
    padding: 5% ;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .mat-elevation-z8{
    backdrop-filter: blur(8px);
    opacity: 0.8;
    margin: 0% 20%;
    width: 60%;
  }
  

form{
  width: 100%;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2vw;
  text-transform: uppercase;
}


