
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dossiers" >
        
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let dossier"> {{dossier.id}} </td>
      </ng-container>
  
      

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let dossier">{{dossier.dateCreation}} </td>
      </ng-container>
  
      <!-- Patient Column -->
      <ng-container matColumnDef="patient">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient </th>
        <td mat-cell *matCellDef="let dossier" >{{dossier.patient.nom}} {{dossier.patient.prenom }}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell *matCellDef="let dossier" >
            <div class="example-button-row">
                <div class="example-flex-container">
                    <div class="example-button-container">
                        <a mat-mini-fab color="primary" aria-label="Edit icon" [routerLink]="['/edit-dossier',dossier.id]">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <button mat-mini-fab color="warn" aria-label="Remove icon" (click)="supprimer(dossier)" >
                            <mat-icon>remove_circle</mat-icon>
                        </button>
                    </div>
                    
                </div>
            </div>
            
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      
    </table>
  
  </div>

    <div style="float: right; margin:20px">
        <button mat-raised-button color="warn" [routerLink]="['/new-dossier']"><span class="material-icons">
            add_circle
            </span> ADD DOSSIER 
        </button>
    </div>