<body>
  <app-medecin-paging ></app-medecin-paging>
  <div style="height: 4vw;"></div>

  <div class="mat-elevation-z8">

    <div style="display: flex;  flex-wrap: wrap;">
      <div class="card" *ngFor="let dossier of dossiers">
        <h3 class="card-header"><strong>Dossier {{dossier.id}}</strong> </h3>
        <div class="card-body">
          <h3 class="card-title"><strong>Patient: </strong> {{dossier.patient.nom}} {{dossier.patient.prenom }}</h3>
          <h3 class="card-title"><strong>Date Création: </strong> {{dossier.dateCreation}}</h3>
          
          <a href="#" mat-button color="primary" [routerLink]="['edit-dossier',dossier.id]">
            <mat-icon>edit</mat-icon> Modifier
          </a>
          
          <a mat-icon-button color="warn" aria-label="anuuler" (click)="supprimer(dossier)" >
            <mat-icon>remove_circle</mat-icon>Supprimer
          </a>
        </div>
      </div>
    </div>
  </div>

    <div style="margin:20px 10%" align=end>
        <button mat-raised-button  [routerLink]="['new-dossier']"><span class="material-icons">
            add_circle
            </span> ADD DOSSIER 
        </button>
    </div>
</body>