<body>
  <app-patient-paging></app-patient-paging>
<div class="mat-elevation-z8">

    <div style="display: flex;  flex-wrap: wrap;">
      <div class="card" *ngFor="let rdv of rdvs">
        <h3 class="card-header"><strong>Rendez-vous {{rdv.id}}</strong> </h3>
        <div class="card-body">
          <h3 class="card-title"><strong>Patient: </strong> {{rdv.patient.nom}} {{rdv.patient.prenom}}</h3>
          <h3 class="card-title"><strong>Medecin: </strong> {{rdv.medecin.nom}} {{rdv.medecin.prenom}}</h3>
          <h4 class="card-title"><strong>Maladie: </strong> {{rdv.maladie}} </h4>
          <h4 class="card-title"><strong>Date: </strong> {{rdv.date}} {{rdv.time}}</h4>
          <p class="card-text"><strong>Détails: </strong> {{rdv.detail}}</p>
          
          <a href="#" mat-button color="primary" [routerLink]="['edit-rendez-vous',rdv.id]">
            <mat-icon>edit</mat-icon> Editer
          </a>
          
          <button mat-icon-button color="warn" aria-label="anuuler" (click)="supprimer(rdv)" >
            <mat-icon>remove_circle</mat-icon>anuuler
        </button>
        </div>
      </div>
    </div>
  </div>
  <div style="margin:20px 10%" align=end>
    <a mat-raised-button color="warn" [routerLink]="['new-rendez-vous']"><span class="material-icons">
        add_circle
        </span> AJOUTER RENDEZ-VOUS</a>
</div>
</body>